@import "../../_settings/variables.scss";

.loot-table-header {
  font-size: 20px;
  padding: $table-padding;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .grandtotal-text {
      font-size: 15px;
      display: flex;

      .grandtotal {
        color: green;
        margin-left: 10px;
        width: 100px;
        text-align: end;
      }
    }
  }

  .buttons-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
  }
}

.loot-table {
  width: $item-container-width;
  height: $item-container-height;
  display: flex;
}

.loot-table-content {
  height: 100%;

  .selectable-item {
    cursor: initial;
  }
}
