@import '../../_settings/variables.scss';

.language-selection {
  width: 120px;
  padding: 0 $header-padding;
  display: flex;
  justify-content: space-between;
}

.round-button {
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  min-width: initial;
  padding: 1px;
  width: 50px;
  height: 50px;
}
