.donation-section {
  width: 100%;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.donation-button {
  margin-top: 20px !important;
  background: #446DF6;
  border-radius: 20px;
  font-size: 16px;
  min-width: 150px;
  height: 50px;
  &:hover {
    background: darken(#446DF6, 10%)
  }
}
