@import "../../_settings/variables.scss";

.quantity-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.quantity-button {
  cursor: pointer;
  user-select: none;
}


.quantity-input {
  width: 18px;
  height: 18px;
  text-align: center;
  user-select: none;
}
