@import "../../_settings/variables.scss";

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #222222;
  font-size: 36px;
  justify-content: space-between;
}

.app-title {
  color: white;
  padding: 0 $header-padding;
}
