.selectable-item {
  user-select: none;
  cursor: pointer;
  width: 100px;
  margin: 2px;
  .item-image {
    height: 80px;
    width: 80px;
  }
  .item-description {
    font-size: 12px;
    word-wrap: break-word;
  }
}
