.selectable-item {
  user-select: none;
  cursor: pointer;
  width: 80px;

  .item-image {
    height: 80px;
    width: 80px;
  }
  .item-description {
    font-size: 12px;
    word-wrap: break-word;
    text-align: center;
  }
}

.selectable-item-container {
  display: flex;
  margin: 10px;
}
