.selectable-player {
  user-select: none;
  cursor: pointer;
  min-width: 250px;
  height: 40px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border: 1px solid white;

  &:nth-child(2n) {
    background: #F3F3F3;
  }

  .player-name {
    font-size: 18px;
    font-family: monospace;
    text-align: start;
  }
}
