.item-price-container {
  display: flex;
  user-select: none;
  align-items: center;
}

.silver-icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

input {
  width: 45px;
  font-size: 8px;
}
