@import "../../_settings/variables.scss";

.remove-item-button {
  color: $error-color;
  cursor: pointer;
  user-select: none;
  position: relative;
  top: 45px;
  left: 20px;
  font-weight: 600;
  font-size: 25px;
}

.quantity-counter {
  position: relative;
  color: white;
  user-select: none;
  font-size: 11px;
  top: 75px;
  left: 9px;
}

.selected-item-container {
  display: flex;
  height: 160px;
  flex-direction: column;
  align-items: center;
}
